{% extends "base.html" %}
{% block article %}
<article>
    <header>
        <h2>Hello</h2>
        <p>My name is Mohammad Rafi, I am a software Engineer, Primarily focused(interested) on(in):</p>
        <ul>
          <li>Data Mining</li>
          <li>Data centric Web Applications</li>
          <li>Python</li>
          <li>Vim (Check out my vim config @github, <a href="https://github.com/confessin/vitavim" target="_blank">VitaVim</a> built on awesome Vundle.)</li>
        </ul>
    </header>
    <section>
        <h3>Things I use Professionally</h3>
        <ul>
          <li> Python, JavaScript, C, R, HTML/HTML5, Bits and pieces of Clojure, JAVA and Go </li>
          <li>Django, numpy, scipy etc </li>
          <li>WEKA, Solr, RabbitMQ </li>
          <li>jQuery, Closure </li>
          <li>Linux (Fedora, Ubuntu, OpenSuse) and Windows. </li>
          <li>Vim, SublimeText2 (You need to check out this IDE, just great for beginners. Has a vim mode too :-) ) </li>
        </ul>
    </section>
</article>
{% endblock %}
