{% extends "base.html" %}
{% block article %}
<article>
    <header>
    </header>
    <section>
    <h1> Personal Projects. </h1>
    <span>Things I started (but couldn't complete).</span>
      <ul>
          <li><a href="/invitation">My Wedding invitation</a></li>
          <li><a href="http://picpoll.in/">An Poll app based on images.</a></li>
          <li><a href="https://github.com/confessin/vitavim">My VIM distro</a></li>
          <li><a href="https://github.com/confessin/advanced_thesaurus">An Advanced thesaurus.</a></li>
          <li><a href="http://hoecount.appspot.com/">A site which tracks the hoes each one of us have.</a></li>
      </ul>
    </section>
    <br/>
    <br/>
    <section>
      <h2> Inmobi </h2>
      <a href="http://www.inmobi.com"><img width="150px" src="img/inmobi-logo.png"></a>
    </section>
    <section>
      <h4>Data Ingestion Framework.</h4>
        <p>A framework for Ingesting all third party data.</p>
        <ul>
          <li>Role: Senior Developer.</li>
          <li>Used Python, MongoDB, JavaScript, Pentaho, Azkaban</li>
    </section>
    <section>
    <h4>Timeseries analysis for predicting better ad performance</h4>
        <p>Developing Learning Models with Enriched (Geo, Places, POIs etc) AdServe Data to achieve better performance (CTR)</p>
        <ul>
          <li>Role: Senior Developer.</li>
          <li>Used R, Java</li>
          <li>Holt-Winters, NN, SARIMA, MOV, STL etc were used.</li>
    </section>
    <section>
    <h4>Geo Enrichment Service</h4>
        <p>A Service to enrich an ad request with Geo Context in realtime.</p>
        <ul>
          <li>Role: Senior Developer.</li>
          <li>Used Java</li>
    </section>

    <section>
      <h2> Google </h2>
      <img width="150px" src="img/google-logo.png">
    </section>
    <section>
      <h4>Project management tool</h4>
        <p>A Project management tool which was used by Google’s internal teams like maps, streetview) for streamlining their process and manage it across multiple teams.</p>
        <ul>
          <li>Role: Senior Developer.</li>
          <li>Used Python, Django, Stubby, Borg </li>
          <li>Used to directly interact with Google’s internal teams using our tool, prioritize tasks, bugs, features accordingly and handing it over to other teammates.</li>
          <li> Worked here as a vendor.</li>
          <li><u>Achieved Readability of python.</u> This made me reviewer of the python code. Gives me the responsibility to keep Google’s codebase clean and readable. Having readability means you can approve code submissions for authors that don't have readability.</li>
    </section>
 
    <section>
      <h2> Hindustan Times</h2>
      <img src="img/ht_logo.gif">
    </section>
    <section>
      <h4>Shine.com- Search Specialist:</h4>
      <p>One of the largest job portals in India. With millions of CVs and even more amount of jobs to be processed. </p>
      <ul>
        <li>Role: Search specialist </li>
        <li>Used Solr, PySolr. </li>
        <li>Responsibilities included setting up servers, Indexing the candidate data and writing and maintain APIs for searches. </li>
      </ul>
    </section>
    <section>
      <h4>HTCampus- College Applications:</h4>
      <p>A site for helping students in their academic career. Where they can come and shortlist colleges and apply to the same. Institute may also edit their profiles and shortlist applications for their specific courses.</p>
      <ul>
        <li>Role: Sr. Developer (Team of 6).</li>
        <li>Used Python, Django, Javascript (Tried implementing an MVC architecture)</li>
        <li>Responsibilities included making POC and design the whole process.</li>
      </ul>
    </section>
    <br/>
    <section>
      <h2> Position2 (Now thismoment)</h2>
      <img src="img/position2-logo.png">
      <img style="background:#444" src="img/thismoment-logo.png">
    </section>
    <section>
      <h4>Auto bidding tool for PPC (pay per click advertising): (Duration: 1 year, 6 months)</h4>
      <p>A tool that involves several mathematical algorithms for processing keyword data from search engines and recommending new keyword level bids accordingly. It uses ‘Rule Based’, ‘Model Based’ and ‘Portfolio based’ approaches for optimisation.</p>
      <ul>
        <li>Environment: Development on Windows XP and Deployment on Fedora 8.</li>
        <li>Role: Developer (team of 2).</li>
        <li>Used Python, Django, numpy, scipy, pylab.</li>
      </ul>
    </section>
    <section>
      <h4>Keyword Generation Tool(Duration 6 months)</h4>
      <p>A tool that generates keywords with a seed set of keywords. It had 5 modules depending on the data sources. Data sources include social media sites like twitter and information sites like wikipedia, the chunk of text was tagged with POS tags and parsed with certain regex rules. The keywords were used for both SEO and PPC purpose.</p>
      <ul>
        <li>Environment: Development on Windows Vista and Deployment on Fedora 8.</li>
        <li>Role: Main Developer(was heading a team of 3)</li>
        <li>Used Python, Django, Twitter REST API, HTML, XML, BeautifulSoup, nltk, wordnet.</li>
      </ul>
    </section>
    <section>
      <h4>Author Influence Analysis Tool (6 months):</h4>
      <p>A script which gets profiles of authors from various Social Media Sites and connects them to give a basic score of the Author’s influence overall and on each of those sites. It was a sub-module of our company’s product called BrandMonitor. The authors were also bloggers.</p>
      <ul>
        <li>Environment: Development on Fedora 8 and Deployment on Fedora 8.</li>
        <li>Role: Sole Developer</li>
        <li>Python, Twitter REST API, Alexa Web Services.</li>
      </ul>
    </section>
    <section>
      <h4>Pattern Matching (3 months):</h4>
      <p>This again was a sub-module of BrandMonitor, It basically groups similar story posts into groups so it becomes easier for the user to go through it. </p>
      <ul>
        <li>Role: Sole Developer</li>
        <li>Python, Lowest Common Substring, String Processing.</li>
      </ul>
    </section>
    <section>
      <h4>Implement Message Queuing (RabbitMQ)(3 months)</h4>
      <p>Implementing python based RabbitMQ messaging for our internal flow of huge data processing to remove dependencies of working with different languages. The main publisher was in python and consumers can be in any language.</p>
      <ul>
        <li>Role: Sole Developer</li>
        <li>Python, RabbitMQ, AMQP, amqplib.</li>
      </ul>
    </section>
    <footer>
      <h4>Statistical Modelling Programming and Prediction analysis on R.</h4>
      <ul>
        <li>R, CSV Parser</li>
        <li>Model Testing and fitting with WEKA</li>
        <li>WEKA</li>
      </ul>
    </footer>
</article>
{% endblock %}










Intern
Position2 Inc
December 2007-May2008


